<% if @event.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @event.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
